<?xml version="1.0" encoding="UTF-8"?> 
<! DOCTYPE  plist  PUBLIC  "-//Apple//DTD PLIST 1.0//EN" "  https://www.apple.com/DTDs/PropertyList-1.0.dtd" > 
<  phiên bản plist = " 1.0 " > 
    < dict > 
    < key > AppSecret </ key > 
    < string > {"17a2ea2a-973b-4847-a83b-bfbed5b707cb"} </ string > 
    </ dict > 
</ plist >