<?xml version="1.0" encoding="UTF-8"?> 
<! DOCTYPE  plist  PUBLIC  "-//Apple//DTD PLIST 1.0//EN" "  https://www.apple.com/DTDs/PropertyList-1.0.dtd" > 
<  phiên bản plist = " 1.0 " > 
    < dict > 
    < key > AppSecret </ key > 
    < string > {Bí mật ứng dụng của bạn ở đây} </ string > 
    </ dict > 
</ plist >